html,
body {
  font-family: -apple-system, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  overflow: hidden auto;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

@font-face {
  font-family: 'Cute';
  src: url('../public/fonts/C800.ttf');
}

@font-face {
  font-family: 'Agresiva';
  src: url('../public/fonts/Agresiva.ttf');
}

#scene {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}
