html,
body {
  font-family: -apple-system, sans-serif;
}

body {
  background: url('/img/MAMA/angelmama.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden auto;
}

@font-face {
  font-family: 'Cute';
  src: url('../public/fonts/C800.ttf');
}

@font-face {
  font-family: 'Agresiva';
  src: url('../public/fonts/Agresiva.ttf');
}

#scene {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}
