html,
body {
  font-family: -apple-system, sans-serif;
  background-color: #0c0c0c;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden auto;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-scene {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* .main-title {
  animation: fade 1s linear forwards;
} */

@font-face {
  font-family: 'Cute';
  src: url('../public/fonts/C800.ttf');
}

@font-face {
  font-family: 'Agresiva';
  src: url('../public/fonts/Agresiva.ttf');
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
